In [ ]:
import pandas as pd
from sklearn.metrics import mean_absolute_error

# Preprocesamiento

In [2]:
train = pd.read_csv("data/train.csv", sep=",")
test = pd.read_csv("data/test.csv", sep=",")

In [3]:
train.head()

   user   item  rating
0     1  25715     7.0
1     1  25716    10.0
2     5  25851     9.0
3     6  25923     5.0
4     7  25924     6.0

In [4]:
test.head()

   ID   user   item
0   0   8117    268
1   1  10512  24393
2   2    534   1334
3   3  10984   6550
4   4   9093  22128

In [5]:
num_users = train['user'].nunique()
num_items = train['item'].nunique()

print(f"\nNúmero de usuarios únicos: {num_users}")
print(f"Número de ítems únicos: {num_items}")

Número de usuarios únicos: 73456
Número de ítems únicos: 171171

# Media por usuario

In [6]:
media_usuario = train.groupby("user")["rating"].mean().to_dict()
media_global = train["rating"].mean()

In [7]:
train['predicted_rating'] = train['user'].map(media_usuario).fillna(media_global)

In [8]:
mae = mean_absolute_error(train['rating'], train['predicted_rating'])
print(f"MAE en el conjunto de entrenamiento: {mae:.4f}")

MAE en el conjunto de entrenamiento: 1.0088

In [9]:
test['rating'] = test['user'].map(media_usuario).fillna(media_global)

In [10]:
submission = test[['ID', 'rating']]
submission.to_csv("submission_media.csv", index=False)